@import url('https://fonts.googleapis.com/css?family=Roboto');
//Colors
$black-color : #000000;//Black
$white-color : #ffffff;//White
$success-color : #35bf7f;//Green
$info-color : #2F9DCE;//Blue
$warning-color : #F49A3E;//Orange
$danger-color : #F36174;//Red
$yellow-color : #F9CE34;//Yellow
$purple-color: #A07AC3;//Purple
$dark-color: #464543;//Grey
$light-color: #F6F6F6;

//Spacing and Widths
$default-spacing : 5px;
$default-margin : 5px;
$max-width: 900px;

//Imports
@import 'forms';

//ELEMENTS

*{
  margin: 0 auto;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h5{
  font-weight: 300;
}

hr{
  border:none;
  border-top: 1px solid $dark-color;
}

p{
  padding-top:8px;
}

//Helpers
.container{
  max-width: $max-width;
}

//Fonts and Format
.bold{
  font-weight: bold;
}

.tag{
  background-color: #EEE;
  border-bottom:1px solid #CCC;
  padding:2px;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

//Text colors
.text-white{color: $white-color;}
.text-black{color: $black-color;}
.text-dark{color: $dark-color;}
.text-info{color: $info-color;}
.text-success{color: $success-color;}
.text-warning{color: $warning-color;}
.text-danger{color: $danger-color;}
.text-yellow{color: $yellow-color;}
.text-purple{color: $purple-color;}
.text-light{color: $light-color;}

//Background colors
.background-white{background-color: $white-color;}
.background-black{background-color: $black-color;}
.background-dark{background-color: $dark-color;}
.background-info{background-color: $info-color;}
.background-success{background-color: $success-color;}
.background-warning{background-color: $warning-color;}
.background-danger{background-color: $danger-color;}
.background-yellow{background-color: $yellow-color;}
.background-purple{background-color: $purple-color;}
.background-light{background-color: $light-color;}

//Buttons
.btn{
  padding:$default-spacing;
  margin: $default-margin ;
  background-color: $light-color;
  border:1px solid $dark-color;
  color: $dark-color;
  cursor: pointer;
  &:hover{
    background-color:$dark-color;
    color:#FFF;
  }
}

.btn-info{
  border:1px solid $info-color;
  color:$info-color;
  &:hover{
    background-color: $info-color;
    color: #FFF;
  }
}

.btn-success{
  border:1px solid $success-color;
  color: $success-color;
  &:hover{
    background-color:  $success-color;
    color: #FFF;
  }
}

.btn-warning{
  border:1px solid $warning-color;
  color: $warning-color;
  &:hover{
    background-color: $warning-color;
    color: #FFF;
  }
}

.btn-danger{
  border:1px solid $danger-color;
  color: $danger-color;
  &:hover{
    background-color: $danger-color;
    color: #FFF;
  }
}

.btn-yellow{
  border:1px solid $yellow-color;
  color: $yellow-color;
  &:hover{
    background-color: $yellow-color;
    color: #FFF;
  }
}

.btn-purple{
  border:1px solid $purple-color;
  color: $purple-color;
  &:hover{
    background-color: $purple-color;
    color: #FFF;
  }
}

.btn-dark{
  border:1px solid $dark-color;
  color:  $dark-color;
  &:hover{
    background-color:  $dark-color;
    color: #FFF;
  }
}

.alert{
  padding: $default-spacing;
  box-sizing: border-box;
  border-left:5px solid $dark-color;

  .alert-mark{
    font-weight: bold;
    color:$dark-color;
  }
}

.alert-info{
  border-left:5px solid $info-color;
  .alert-mark{
    color:$info-color;
  }
}

.alert-success{
  border-left:5px solid $success-color;
  .alert-mark{
    color:$success-color;
  }
}

.alert-warning{
  border-left:5px solid $warning-color;
  .alert-mark{
    color:$warning-color;
  }
}

.alert-danger{
  border-left:5px solid $danger-color;
  .alert-mark{
    color:$danger-color;
  }
}

.alert-yellow{
  border-left:5px solid $yellow-color;
  .alert-mark{
    color:$yellow-color;
  }
}

.alert-purple{
  border-left:5px solid $purple-color;
  .alert-mark{
    color:$purple-color;
  }
}

.alert-light{
  border-left:5px solid $light-color;
  .alert-mark{
    color:$light-color;
  }
}

//Vertical Navs

.vertical-nav{
  list-style-type: none;

  li{
    background-color: $info-color;
    padding: 5px;
    margin-top:3px;
    cursor:pointer;
  }

  li:hover{
    background-color: $dark-color;
  }

  a{
    text-decoration: none;
    color: $white-color;
  }
}

//Floats
.float-left{
  float:left;
}

.float-right {
  float:right;
}

.clear{
  clear:both;
}

//Widths
.small-width{
  max-width: 25%;
  width:100%;
}

.middle-width{
  max-width: 50%;
  width:100%;
}

.full-width{
  width:100%;
}
