@import url("https://fonts.googleapis.com/css?family=Roboto");
.form input {
  padding: 10px;
  border: 1px solid #464543;
  border-left: 5px solid #464543; }

* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h5 {
  font-weight: 300; }

hr {
  border: none;
  border-top: 1px solid #464543; }

p {
  padding-top: 8px; }

.container {
  max-width: 900px; }

.bold {
  font-weight: bold; }

.tag {
  background-color: #EEE;
  border-bottom: 1px solid #CCC;
  padding: 2px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-white {
  color: #ffffff; }

.text-black {
  color: #000000; }

.text-dark {
  color: #464543; }

.text-info {
  color: #2F9DCE; }

.text-success {
  color: #35bf7f; }

.text-warning {
  color: #F49A3E; }

.text-danger {
  color: #F36174; }

.text-yellow {
  color: #F9CE34; }

.text-purple {
  color: #A07AC3; }

.text-light {
  color: #F6F6F6; }

.background-white {
  background-color: #ffffff; }

.background-black {
  background-color: #000000; }

.background-dark {
  background-color: #464543; }

.background-info {
  background-color: #2F9DCE; }

.background-success {
  background-color: #35bf7f; }

.background-warning {
  background-color: #F49A3E; }

.background-danger {
  background-color: #F36174; }

.background-yellow {
  background-color: #F9CE34; }

.background-purple {
  background-color: #A07AC3; }

.background-light {
  background-color: #F6F6F6; }

.btn {
  padding: 5px;
  margin: 5px;
  background-color: #F6F6F6;
  border: 1px solid #464543;
  color: #464543;
  cursor: pointer; }
  .btn:hover {
    background-color: #464543;
    color: #FFF; }

.btn-info {
  border: 1px solid #2F9DCE;
  color: #2F9DCE; }
  .btn-info:hover {
    background-color: #2F9DCE;
    color: #FFF; }

.btn-success {
  border: 1px solid #35bf7f;
  color: #35bf7f; }
  .btn-success:hover {
    background-color: #35bf7f;
    color: #FFF; }

.btn-warning {
  border: 1px solid #F49A3E;
  color: #F49A3E; }
  .btn-warning:hover {
    background-color: #F49A3E;
    color: #FFF; }

.btn-danger {
  border: 1px solid #F36174;
  color: #F36174; }
  .btn-danger:hover {
    background-color: #F36174;
    color: #FFF; }

.btn-yellow {
  border: 1px solid #F9CE34;
  color: #F9CE34; }
  .btn-yellow:hover {
    background-color: #F9CE34;
    color: #FFF; }

.btn-purple {
  border: 1px solid #A07AC3;
  color: #A07AC3; }
  .btn-purple:hover {
    background-color: #A07AC3;
    color: #FFF; }

.btn-dark {
  border: 1px solid #464543;
  color: #464543; }
  .btn-dark:hover {
    background-color: #464543;
    color: #FFF; }

.alert {
  padding: 5px;
  box-sizing: border-box;
  border-left: 5px solid #464543; }
  .alert .alert-mark {
    font-weight: bold;
    color: #464543; }

.alert-info {
  border-left: 5px solid #2F9DCE; }
  .alert-info .alert-mark {
    color: #2F9DCE; }

.alert-success {
  border-left: 5px solid #35bf7f; }
  .alert-success .alert-mark {
    color: #35bf7f; }

.alert-warning {
  border-left: 5px solid #F49A3E; }
  .alert-warning .alert-mark {
    color: #F49A3E; }

.alert-danger {
  border-left: 5px solid #F36174; }
  .alert-danger .alert-mark {
    color: #F36174; }

.alert-yellow {
  border-left: 5px solid #F9CE34; }
  .alert-yellow .alert-mark {
    color: #F9CE34; }

.alert-purple {
  border-left: 5px solid #A07AC3; }
  .alert-purple .alert-mark {
    color: #A07AC3; }

.alert-light {
  border-left: 5px solid #F6F6F6; }
  .alert-light .alert-mark {
    color: #F6F6F6; }

.vertical-nav {
  list-style-type: none; }
  .vertical-nav li {
    background-color: #2F9DCE;
    padding: 5px;
    margin-top: 3px;
    cursor: pointer; }
  .vertical-nav li:hover {
    background-color: #464543; }
  .vertical-nav a {
    text-decoration: none;
    color: #ffffff; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.small-width {
  max-width: 25%;
  width: 100%; }

.middle-width {
  max-width: 50%;
  width: 100%; }

.full-width {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
